.Input {
	box-sizing: border-box;
	width: 100%;
	max-width: 500px;
	height: 50px;
	padding-left: 25px;

	font-size: 16px;

	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 25px;
	outline: none;

	&::placeholder
	{
		color: #dddddd;

		opacity: 1;
	}
}
