.Button {
	display: inline-block;
	padding: 7px 20px 9px;

	font-size: 12px;
	text-align: center;
	color: #fff;

	background: linear-gradient(79deg, #7dc4ff, #6700ff 100%);
	border-radius: 21px;
	cursor: pointer;

	transition-property: background;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;

	&:hover {
		background: #7dc4ff;

		transition: none;
	}

	&:active {
		background: #6700ff;

		transition: none;
	}
}
