.Search {
	&-Title {
		text-align: center;
		margin-bottom: 25px;
	}

	&-Form {
		margin-bottom: 50px;

		text-align: center;
	}

	&-Results {
		
	}

	&-Preloader {
		position: relative;

		width: 30px;
		height: 30px;
		margin: 0 auto;

		background: linear-gradient(to bottom, #7dc4ff, #6700ff);
		border-radius: 50%;

		&::after {
			content: '';
			position: absolute;
			top: calc(50% - 12.5px);
			left: calc(50% - 12.5px);

			width: 25px;
			height: 25px;

			background: #fff;
			border-radius: 50%;
		}
	}
}
