.Link {
	text-decoration: none;
	color: #329eff;

	transition-property: border-color, color, fill;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;

	&:hover {
		color: #2a85d7;

		transition: none;
	}

	&:active {
		color: #2168a8;

		transition: none;
	}

	&_selected {
		color: #000 !important;

		cursor: default;
	}
}
